{% extends '_base.html' %}
{% load static %}

{% block content %}


    <div class="contact-area default-padding">

        <div class="container">
            <div class="contact-items">
                <div class="row">
                    <div class="col-lg-8 col-md-8 contact-box left-info">
                        <div class="about-section">
                            <h1>Password Security Tips Content</h1>
                            <p>A 2019 Study by Google and Harris showed that users struggle to keep track of their
                                passwords</p>
                            <img src="{% static '/images/stips.jpg' %}" alt="GooglePoll">
                            <br>
                            <br>
                            <h4>Tip #1: </h4>
                            <p>Do not use easy to guess passwords they are the most common!
                                Passwords like 123456, password, or abc123 are not secure and are easily guess create
                                difficult to
                                guess strong passwords.</p>
                            <h4>Tip #2: </h4>
                            <p>Change your password after it has been involved in a breach
                                If you know your password has been breached then you should change that password for all
                                accounts
                                that use it so as not to get other accounts compromised.</p>
                            <h4>Tip #3: </h4>
                            <p>Do not use the same password
                                If you use the same password for all accounts you have one breach could mean the
                                compromise of all
                                or multiple of your accounts</p>
                            <h4>Tip #4: </h4>
                            <p>Create a complex password with more than 8 characters
                                Shorter passwords are easier to crack. Did you know hackers can use specialised
                                dictionaries to
                                crack weak passwords and gain access to your account.</p>
                            <h4>Tip #5: </h4>
                            <p>Use a password manager
                                It can be difficult to keep track of multiple strong and long passwords so to make it
                                easier make
                                use of a password manager that allows you to keep track of them in one place.</p>
                            <h4>Tip #6: </h4>
                            <p>Use 2FA
                                Two Factor Authentication allows you to verify yourself using your mobile device and
                                provides an
                                extra layer of security.</p>
                            <h4>Tip #7: </h4>
                            <p>Do not write passwords down on paper, or save anywhere on unencrypted files
                                Writing passwords down is never a good Idea, it is a very unsecure habit and can
                                potentially get
                                your accounts compromised.</p>
                            <h4>Tip #8: </h4>
                            <p>Watch out for Phishing
                                Make yourself Cyber aware and watch out for phishing emails or links. Hackers may
                                attempt to trick
                                you into installing software like keyloggers which can monitor your keystrokes and
                                attempt to get
                                you to reveal your password.</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}